/* ==========================================================================
   General
   ========================================================================== */

div#ting-term-list div.ting-term-list-column {
	float: left;
	padding-right: 0.9375em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;		
}

div#ting-term-list div.ting-term-list-column:last-of-type {
	padding-right: 0;
}

div#ting-term-list div.ting-term-list-term {
	padding-top: 0.625em;  /* 10px / 16px = 0.625em */ 
	padding-bottom: 0.625em;  /* 10px / 16px = 0.625em */
	margin-right: 0.3125em;  /* 5px / 16px = 0.3125em */
	border-bottom: 0.0625em solid #e5e5e5;  /* 1px / 16px = 0.0625em */
	text-transform: uppercase;
}

div#ting-term-list div.ting-term-list-term:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

div#ting-term-list div.ting-term-list-term-count {
	display: inline;
}

/* ========================================================================== 
   Breakpoint: 480px / 16px = 30em (Smartphones)
   Show terms in column.
   ========================================================================== */

@media screen and (max-width: 30em) {

	div#ting-term-list div.ting-term-list-column {
		float: none;
		width: 100%;
		padding-right: 0;
	}

	div#ting-term-list div.ting-term-list-term:last-of-type {
		border-bottom: 0.0625em solid #e5e5e5;  /* 1px / 16px = 0.0625em */
		padding-bottom: 0.625em;  /* 10px / 16px = 0.625em */
	}

	div#ting-term-list 
	div.ting-term-list-column:last-of-type 
	div.ting-term-list-term:last-of-type {
		border-bottom: none;
		padding-bottom: 0;		
	}

}